@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Prompt&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-deep-blue: #020a13;
    --color-dim-white: #b6b6b6;
  }

  body {
    background-image: linear-gradient(#b6b6b612 0.1em, transparent 0.1em),
      linear-gradient(90deg, #b6b6b612 0.1em, transparent 0.1em);
    background-size: 7rem 7rem;
  }
}

@layer components {
  .navlink {
    @apply mx-4 text-dimwhite relative after:hover:scale-x-125 hover:text-white;
  }

  .navlink::after {
    @apply content-[''] absolute bg-white h-[1px] w-full left-0 bottom-[-2px] scale-x-0 duration-300;
  }

  .contact-field {
    @apply px-6 py-4 bg-transparent border border-gray-800 w-72 md:w-[500px] outline-none rounded-md focus:bg-black placeholder:text-gray-500 text-gray-500 focus:text-white hover:border-gray-700 transition-all duration-300;
  }
}
